@use "../../components.scss" as *;
#home {
  display: grid;
  &:has(.sidebar:not(.active)) {
    grid-template-columns: 1fr;
  }
  grid-template-columns: $sidebar-width 1fr;

  @include tablet {
    grid-template-columns: 0 1fr;
  }

  .open-sidebar {
    position: absolute;
    left: 0;
    bottom: 50px;
    border-radius: 0 100px 100px 0;
    color: #fff;
    background-color: $main;
    border: none;
    outline: none;
    font-size: 30px;
    width: 80px;
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $main-light;
    }
    @include tablet {
      display: none;
    }
  }
}
